Cython
setuptools
scipy
scikit-learn
opencv-python
opencv-contrib-python
tensorflow
keras_applications
tensorflow-model-optimization
matplotlib
tqdm
pillow
mnn
Cython
pycocotools
keras2onnx
tf2onnx
onnx
onnxruntime
tfcoreml
sympy
imgaug
imagecorruptions
bokeh
tidecv
keras==2.2.4 
